{% extends "base/base.html" %}
{% load static %}

{% block body %}
	
{% include 'base/header.html' %}    

<!-- Start Breadcrumb 
	============================================= -->
	<div class="breadcrumb-area text-center shadow dark bg-fixed text-light" style="background-image: url({% static 'img/makkah4.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>اﻟﻤﺪﻭﻧﺔ</h2>
					<ul class="breadcrumb">
						<li class="active">اﻟﻤﺪﻭﻧﺔ  </li>
						<li ><a href="#">االرئيسية  <i class="fas fa-home"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area single full-blog right-sidebar full-blog default-padding">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content wow fadeInUp col-lg-8 col-md-12">
                        <div class="item float-right text-right">

                            <div class="blog-item-box">
                                <!-- Start Post Thumb -->
                                <div class="thumb">
                                	{% if post.image %}
                                	    
                                    <img src="{{post.image.url}}" alt="Thumb">
                                	
                                	{% endif %}
                                </div>
                                <!-- Start Post Thumb -->

                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li><i class="fas fa-calendar-alt"></i>{{post.created_on}}</li>
                                            <!-- <li><a href="#"><i class="fas fa-comments"></i> 36 Comments</a></li> -->
                                        </ul>
                                    </div>
                                    <h3>
                                        {{post.Title}}
                                    </h3>
                                    
                                    {{post.content|safe}}
                                </div>
                            </div>
                        </div>

                       

                        <!-- End Comments Form -->
                    </div>
                   

                   <!-- Start Sidebar -->
					<div class="sidebar wow fadeInLeft col-lg-4 col-md-12">
						<aside>
							<div class="sidebar-item search">
								<div class="sidebar-info">
									<form>
										<input type="text" name="text" class="form-control">
										<button type="submit"><i class="fas fa-search"></i></button>
									</form>
								</div>
							</div>
							<div class="sidebar-item recent-post float-right text-right">
								<div class="title ">
									<h4>آخر المقالات</h4>
								</div>
								<ul>
									{% for post in last_posts %}
										
									<li>
										<div class="info ">
											<a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
											<div class="meta-title">
												<span class="post-date"><i class="fas fa-calendar-alt"></i>{{post.created_on}}</span>
											</div>
										</div>
										<div class="thumb">
											<a href="{% url 'post_detail' pk=post.pk %}">
												{% if post.image %}

													<img src="{{post.image.url}}" alt="Thumb">
												{% endif %}
											</a>
										</div>
									</li>
									
									{% endfor %}
								</ul>
							</div>
						</aside>
					</div>
					<!-- End Start Sidebar -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->


    {% include 'base/footer.html' %}
{% endblock body %}
