

<!-- Start Login Section -->
            <section class="log-wrapper">
                <div class="container">
                    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
                        <div class="log-box">
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                    <div class="alert alert-success" role="alert">{{message}}</div>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">{{message}}</div>
                                    
                                {% endif %}
                            {% endfor %}
                            <div class="listing-box-header">
                                <i class="ti-lock theme-cl"></i>
                                <h3>Modifer Mot de Passe</h3>
                                <!-- <p>Remember, Your Password should not be easy and common</p> -->
                            </div>
                            <form method="POST">{% csrf_token %}
                                <div class="row mrg-r-10 mrg-l-10">
                                    <div class="col-sm-12">
                                        {{form.old_password}}
                                        {{form.errors.old_password}}
                                    <br>
                                    </div>
                                    <div class="col-sm-6">
                                        {{form.new_password1}}
                                        {{form.errors.new_password1}}
                                    <br>
                                    </div>
                                    <div class="col-sm-6">
                                        {{form.new_password2}}
                                        {{form.errors.new_password2}}
                                    </div>
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn theme-btn width-200 btn-radius">Modifier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Login Section -->

      
	