



<section class="log-wrapper">
	<div class="container">
		<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
			<div class="log-box">
		<div class="booking-confirm padd-top-30 padd-bot-30">
			<i class="fa fa-check" aria-hidden="true"></i>
			<h2 class="mrg-top-15">Votre Mot de passe a été {% if titre %}{{titre}} {% else %} Réinitialisé {% endif %} avec Succès</h2>
			<p>Vous pouvez maintenant
                        connecter à votre compte avec le nouveau mot de passe <a href="{% url 'login' %}"><strong>ICI</strong></a>.</p>
		</div>
			</div>
		</div>
	</div>
</section>
