


<section class="log-wrapper">
    <div class="container">
        <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
            <div class="log-box">

            <!-- Change Password Information -->
                    <div class="listing-box-header">
                        <i class="ti-lock theme-cl"></i>
                        <h3>Réinitialisez Votre Mot de passe</h3>
                        <!-- <p>Remember, Your Password should not be easy and common</p> -->
                    </div>
                    <form method="post">{% csrf_token %}
                        <div class="row mrg-r-10 mrg-l-10">
                            <div class="col-sm-6">
                                {{form.new_password1}}
                            </div>
                            
                            <div class="col-sm-6">
                                {{form.new_password2}}
                            </div>
                            
                        </div>
                        <div class="text-center">
                            <br>
                            <button type="submit" class="btn theme-btn" >Envoyer</button>
                        </div>
                    </form>
                <!-- End Change Password Information -->
            </div>
        </div>
    </div>
</section>
