 {% load static %}
 <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="{% static 'img/shape/bg-3.png' %}" alt="Shape">
        </div>
        <!-- Fixed Shape -->

        <!-- Footer Top -->
       
        <!-- End Footer Top -->
        <div class="container">
            <div class="f-items default-padding ">
                <div class="row ">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item float-right text-right">
                            <h4 class="widget-title">ابقى على تواصل</h4>
                            <div class="address ">
                                <ul>
                                    <li>
                                        <strong>العنوان:</strong>
                                        حي 450 مسكن بئرخادم الجزائر
                                    </li>
                                    <li>
                                        <strong>الإيميل:</strong>
                                        <a href="mailto:info@validtheme.com">info@validtheme.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link float-right text-right">
                            <h4 class="widget-title">صفحاتنا</h4>
                            <ul>
                                <li>
                                    <a href="#">من نحن</a>
                                </li>
                                <li>
                                    <a href="#">مدونتنا</a>
                                </li>
                                <li>
                                    <a href="#">إتصل بنا</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 item ">
                        <div class="f-item about float-right text-right">
                            <img src="{% static 'img/logo.jpg' %}" style="height: 70px; width: 70px" alt="Logo">
                            <p>
                               من السهل حقيقة حياة العقل مع رؤية قد تحمل عشرة. أبرشية أي ثرثرة يمكن أن توجهها إلى السابق. ما يصل كما يقصد الأرملة..
 
                            </p>
                            <div class="social ">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy;  2021. Designed by <a href="#">ValidThemes.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->