{% autoescape off %}
{% load static %}
<div>
	<img src="{% static 'img/Logo_Mulvice.png' %}" >
	<h3>Bonjour <strong>{{ user.name|title }} {{ user.lastname|title }}</strong>,</h3>
	<p>
		Veuillez cliquer <strong><a href="https://{{ domain }}{% url 'activate' uidb64=uid token=token %}">ICI</a></strong> pour confirmer votre inscription.
		<br>
		Merci
	</p>
	<hr>
	<p>Pour toutes questions, 
	<br>Veuillez nous contacter par email sur: <strong>{{contact_email}}</strong>  
	<br>ou par téléphone sur: <strong>{{contact_phone}}</strong>.</p>
	<p>Équipe Mulvice</p>
</div>



{% endautoescape %}