{% load i18n %}{% autoescape off %}

<div>
	<h3>Bonjour <strong>{{ user.name|title }} {{ user.lastname|title }}</strong>,</h3>
<p>
	Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe de votre compte utilisateur sur {{ site_name }}.
</p>
<p>
	Veuillez vous rendre sur la page suivante et choisir un nouveau mot de passe :
	<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><button class="btn theme-btn">Modifier mot de passe</button></a>
</p>

<hr>
<p>Pour toutes questions, 
<br>Veuillez nous contacter par email sur: <strong>{{contact_email}}</strong>  
<br>ou par téléphone sur: <strong>{{contact_phone}}</strong>.</p>
<p>Équipe Mulvice</p>
{% endautoescape %}

</div>